<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Dashboard
      <small>Version 0.1</small>
    </h1>
    <ol class="breadcrumb">
      <li><a [routerLink]="['/painel']"><i class="fa fa-tachometer-alt"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-blue"><i class="ion ion-ios-people-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Pacientes</span>
            <span class="info-box-number">6.000</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="ion ion ion-ios-pulse"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Atendimentos</span>
            <span class="info-box-number">54.000</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-12">
        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Agendamentos do Dia</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table id="tabelaConsultasDia" lass="table no-margin">
                <thead>
                <tr>
                  <th>Código</th>
                  <th>Nome do Paciente</th>
                  <th>Status</th>
                  <th>Confirmada?</th>
                  <th>Primeira Consulta?</th>
                  <th>Ordem de Chegada</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let consulta of listaConsultaDia">
                  <td>{{ consulta.codigo }}</td>
                  <td>{{ consulta.paciente.nome }}</td>
                  <td>{{ StatusConsulta[consulta.codigoStatusConsulta] }}</td>
                  <td>{{ consulta.flagConfirmada === 'S' ? 'Sim' : 'Não' }}</td>
                  <td>{{ consulta.flagPrimeiraConsulta === 'S' ? 'Sim' : 'Não' }}</td>
                  <!-- Inicio coluna de ordem de chegada -->
                  <td *ngIf="!habilitarBotaoSalvarOrdemChegada">
                    {{ consulta.ordemChegada }}
                  </td>
                  <td *ngIf="habilitarBotaoSalvarOrdemChegada">
                    <div class="input-group col-md-4 pull-left">
                      <input type="text" #box class="form-control" value="consulta.ordemChegada" [(ngModel)]="consulta.ordemChegada"
                        #ordemChegada="ngModel">
                    </div>
                  </td>
                  <!--<td *ngIf="consulta.ordemChegada != null">{{consulta.ordemChegada}}</td>-->
                  <!-- Fim conluna ordem de chegada -->
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-app" (click)="confirmarConsulta(consulta)">
                        <i class="fa fa-play"></i> Confirmar
                      </a>
                      <a class="btn btn-app" (click)="iniciarAtendimento(consulta.codigo)">
                        <i class="fa fa-play"></i> Atendimento
                      </a>
                      <!--<button type="button" (click)="confirmarConsulta(consulta)" class="btn btn-default">
                        <i class="fa fa-check-double" title="Confirmar Consulta"></i>
                      </button>
                      <button type="button" (click)="iniciarAtendimento(consulta.codigo)" class="btn btn-default">
                        <i class="fa fa-check-double" title="Iniciar Atendimento"></i>
                        Iniciar Atendimento
                      </button>-->
                    </div>
                    <!--<a class="btn-group">
                    </a>
                    <a class="btn-group">
                    </a>-->
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <a [routerLink]="['/agendamentos/consultas']" class="btn btn-sm btn-info btn-flat pull-left margin">Novo Agendamento</a>
            <a *ngIf="!habilitarBotaoSalvarOrdemChegada" (click)="habilitarCamposEdicaoOrdemChegada()" class="btn btn-sm btn-info btn-flat pull-left margin">Atualizar Ordem de Chegada</a>
            <a *ngIf="habilitarBotaoSalvarOrdemChegada" (click)="salvarAlteracoesOrdemChegada()" class="btn btn-sm btn-info btn-flat pull-left margin">Salvar Ordem de Chegada</a>
            <a [routerLink]="['/agendamentos/consultas']" class="btn btn-sm btn-default btn-flat pull-right margin">Ver todas</a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
