<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Medicamento
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a [routerLink]="['/']"><i class="fa fa-tachometer-alt"></i> Home</a></li>
      <li><i class="fa fa-gears"></i> Configurações</li>
      <li><i class="fa fa-file-alt"></i> Cadastro</li>
      <li class="active">Medicamento</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- /.row -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="input-group col-md-12">
              <div *ngIf="mensagem && mensagem.codigoTipo === 0" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
                {{mensagem.texto}}
              </div>
              <div class="input-group col-md-8 pull-left">
                <div class="input-group col-md-6 pull-left">
                  <input type="text" class="form-control" id="nome" name="nome" value="medicamento.nome" [(ngModel)]="medicamento.nome"
                  #nome="ngModel" placeholder="Informe o nome do tipo de medicamento que deseja procurar.">
                  <span class="input-group-btn">
                    <button type="button" (click)="buscar()" class="btn btn-primary btn-flat">Buscar</button>
                  </span>
                </div>
              </div>
              <div class="input-group col-md-3 pull-right">
                <button id="btnNovoMedicamento" type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-novo-medicamento">
                    Novo Medicamento
                </button>
              </div>
            </div>
            <br>
            <div class="modal fade" id="modal-novo-medicamento">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button id="fecharModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ medicamento && !medicamento.codigo ? 'Novo Medicamento' : habilitarEdicao ? 'Atualizar Medicamento' : 'Visualizar Medicamento' }}</h4>
                  </div>
                  <div class="modal-body">
                    <form #form="ngForm" role="form">
                      <div *ngIf="mensagem && mensagem.codigoTipo === 1" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
                        {{mensagem.texto}}
                      </div>
                      <div class="row">
                        <div class="tab-content">
                          <div class="col-md-12">
                            <div class="form-group col-md-6">
                              <label>Nome</label>
                              <input type="text" class="form-control" id="nome" name="nome" value="medicamento.nome" [(ngModel)]="medicamento.nome"
                              #nome="ngModel" placeholder="Nome" [disabled]='!habilitarEdicao'>
                            </div>
                            <div class="form-group col-md-6">
                              <label>Uso do Medicamento</label>
                              <select class="form-control" [(ngModel)]="medicamento.usoMedicamento.codigo" #codigo="ngModel" name="usoMedicamento" [disabled]='!habilitarEdicao'>
                                <option>Selecione...</option>
                                <option *ngFor="let usoMedicamento of listaComboUsoMedicamento" [value]="usoMedicamento.codigo" >{{ usoMedicamento.nome }}</option>
                              </select>
                            </div>
                            <div class="form-group col-md-6">
                              <label>Tipo de Medicamento</label>
                              <select class="form-control" [(ngModel)]="medicamento.tipoMedicamento.codigo" #codigo="ngModel" name="tipoMedicamento" [disabled]='!habilitarEdicao'>
                                <option>Selecione...</option>
                                <option *ngFor="let tipoMedicamento of listaComboTipoMedicamento" [value]="tipoMedicamento.codigo" >{{ tipoMedicamento.nome }}</option>
                              </select>
                            </div>
                            <div class="form-group col-md-6">
                              <label>Status</label>
                              <select class="form-control" [(ngModel)]="medicamento.flagAtivo" #flagAtivo="ngModel" id="flagAtivo" name="flagAtivo" [disabled]='!habilitarEdicao'>
                                <option value="">Selecione...</option>
                                <option value="S">Ativo</option>
                                <option value="N">Inativo</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="box-body pad">
                              <textarea id="composicao" [(ngModel)]="medicamento.composicao" #composicao="ngModel" name="composicao" rows="10" cols="138" placeholder="Composição do medicamento" [disabled]='!habilitarEdicao'>
                              </textarea>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="box-body pad">
                              <textarea id="posologia" [(ngModel)]="medicamento.posologia" #posologia="ngModel" name="posologia" rows="10" cols="138" placeholder="Posologia do medicamento" [disabled]='!habilitarEdicao'>
                              </textarea>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="box-body pad">
                              <textarea id="descricao" [(ngModel)]="medicamento.descricao" #descricao="ngModel" name="descricao" rows="10" cols="138" placeholder="Descrição do medicamento" [disabled]='!habilitarEdicao'>
                              </textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" (click)="fecharModalMedicamento()" data-dismiss="modal" id="closeModal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="salvarModal" (hidden)= 'habilitarEdicao' (click)="salvar()" >Salvar</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <table id="tabelaMedicamento" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Composição</th>
                <th>Posologia</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let medicamento of listaMedicamento">
                <td>{{ medicamento.codigo }}</td>
                <td>{{ medicamento.nome }}</td>
                <td>{{ medicamento.tipoMedicamento.nome }}</td>
                <td>{{ medicamento.composicao }}</td>
                <td>{{ medicamento.posologia }}</td>
                <td>{{ medicamento.flagAtivo === 'S' ? 'Ativo' : 'Inativo' }}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" (click)="visualizarRegistro(medicamento.codigo)" class="btn btn-default">
                      <i class="fa fa-search" title="Visualizar"></i>
                    </button>
                    <button type="button" (click)="abrirModalAtualizar(medicamento.codigo)" class="btn btn-default">
                      <i class="fa fa-edit" title="Editar"></i>
                    </button>
                  </div>
                  <a class="btn-group">

                  </a>
                  <a class="btn-group">

                  </a>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Composição</th>
                <th>Posologia</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
              </tfoot>
            </table>
            <app-paginacao [page]="pagina" (paginationEvent)=changePage($event)></app-paginacao>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
  <!-- /.content -->
