<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Agendamento de Consultas
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Agendamentos</li>
    <li class="active">Consultas</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <!-- /.col -->
    <div class="col-md-12">
      <div *ngIf="mensagem && mensagem.codigoTipo === 1" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
        {{mensagem.texto}}
      </div>
      <div *ngIf="mensagem && mensagem.codigoTipo === 0" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
        {{mensagem.texto}}
      </div>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li><a data-toggle="tab" href="#abaListagem">Listagem</a></li>
          <li class="active"><a data-toggle="tab" href="#abaCalendario">Calendário</a></li>
        </ul>
        <div class="tab-content">
          <div id="abaListagem" class="tab-pane fade">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group col-md-4 pull-left">
                  <button type="button" id="btnNovoAgendamento" class="btn btn-primary pull-left" data-toggle="modal" data-target="#modal-agendamento">
                      Novo Agendamento
                  </button>
                </div>
                <div class="input-group col-md-8 pull-right">
                  <div class="input-group col-md-6 pull-right">
                    <input type="text" class="form-control" id="nome" name="nome" value="consulta.paciente.nome" [(ngModel)]="consulta.paciente.nome"
                    #nome="ngModel" placeholder="Informe o nome do paciente.">
                    <span class="input-group-btn">
                      <button type="button" (click)="buscar()" class="btn btn-primary btn-flat">Buscar</button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <table id="tabelaConsulta" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nome do Paciente</th>
                    <th>Nome do Médico</th>
                    <th>Data Consulta</th>
                    <th>Status</th>
                    <th>Confirmada?</th>
                    <th>Primeira Consulta?</th>
                    <th>Ações</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let consulta of listaConsulta">
                    <td>{{ consulta.codigo }}</td>
                    <td>{{ consulta.paciente.nome }}</td>
                    <td>{{ consulta.medico.nome }}</td>
                    <td>{{ consulta.dataConsulta }}</td>
                    <td>{{ StatusConsulta[consulta.codigoStatusConsulta] }}</td>
                    <td>{{ consulta.flagConfirmada === 'S' ? 'Sim' : 'Não' }}</td>
                    <td>{{ consulta.flagPrimeiraConsulta === 'S' ? 'Sim' : 'Não' }}</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" (click)="abrirModalAtualizar(consulta.codigo)" class="btn btn-default">
                          <i class="fa fa-edit" title="Editar"></i>
                        </button>
                      </div>
                      <a class="btn-group">

                      </a>
                      <a class="btn-group">

                      </a>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Código</th>
                    <th>Nome do Paciente</th>
                    <th>Nome do Médico</th>
                    <th>Status</th>
                    <th>Confirmada?</th>
                    <th>Primeira Consulta?</th>
                    <th>Ações</th>
                  </tr>
                  </tfoot>
                </table>
                <app-paginacao [page]="pagina" (paginationEvent)=changePage($event)></app-paginacao>
              </div>
            </div>
          </div>
          <div id="abaCalendario" class="tab-pane fade in active">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-4">
                  <button type="button" id="btnNovoAgendamento" class="btn btn-primary pull-left" data-toggle="modal" data-target="#modal-agendamento">
                      Novo Agendamento
                  </button>
                </div>
                <div class="col-md-12">
                  <app-header-calendario
                    [(view)]="view"
                    [(viewDate)]="viewDate">
                  </app-header-calendario>
                  <div [ngSwitch]="view">
                      <mwl-calendar-month-view
                      *ngSwitchCase="'month'"
                      [weekStartsOn]="weekStartsOn"
                      [weekendDays]="weekendDays"
                      [locale]="locale"
                      [viewDate]="viewDate"
                      [refresh]="refresh"
                      [activeDayIsOpen]="activeDayIsOpen"
                      (dayClicked)="dayClicked($event.day)"
                      (eventClicked)="handleEvent('Clicked', $event.event)"
                      (eventTimesChanged)="eventTimesChanged($event)"
                      [events]="events">
                    </mwl-calendar-month-view>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="modal fade" id="modal-agendamento">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="fecharModal" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ consulta && consulta.codigo ? 'Atualizar Consulta' : 'Novo Agendamento' }}</h4>
        </div>
        <div class="modal-body">
          <form #form="ngForm" role="form">
            <div *ngIf="mensagem && mensagem.codigoTipo === 1" class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
              {{mensagem.texto}}
            </div>
            <div class="row">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#abaNovoHorarioAtendimento">Agendamento de Consulta</a></li>
              </ul>
              <div class="tab-content">
                <br>
                <div id="abaNovoHorarioAtendimento" class="tab-pane fade in active">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <div class="input-group col-md-12 pull-left">
                        <div class="input-group col-md-12 pull-left">
                          <input type="text" class="form-control" id="nomeMedico" name="nomeMedico" value="consulta.medico.nome" [(ngModel)]="consulta.medico.nome"
                          #nome="ngModel" placeholder="Informe o nome do medico.">
                          <span class="input-group-btn">
                            <button type="button" (click)="buscarMedicoConsulta()" class="btn btn-primary btn-flat" data-toggle="modal"
                            data-target="#modal-consulta-medico">Buscar</button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group col-md-12 pull-left">
                        <div class="input-group col-md-12 pull-left">
                          <input type="text" class="form-control" id="nomePaciente" name="nomePaciente" value="consulta.paciente.nome" [(ngModel)]="consulta.paciente.nome"
                          #nome="ngModel" placeholder="Informe o nome do paciente.">
                          <span class="input-group-btn">
                            <button type="button" (click)="buscarPacienteConsulta()" class="btn btn-primary btn-flat" data-toggle="modal"
                            data-target="#modal-consulta-paciente">Buscar</button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group col-md-6">
                      <label>Status</label>
                      <select class="form-control" [(ngModel)]="consulta.codigoStatusConsulta" #codigoStatusConsulta="ngModel" id="codigoStatusConsulta" name="codigoStatusConsulta">
                        <option>Selecione...</option>
                        <option value="1">Aberto</option>
                        <option value="2">Confirmado</option>
                        <option value="3">Aguardando Atendimento</option>
                        <option value="4">Em Atendimento</option>
                        <option value="5">Finalizada</option>
                        <option value="6">Cancelada</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Primeira Consulta?</label>
                      <select class="form-control" [(ngModel)]="consulta.flagPrimeiraConsulta" #flagPrimeiraConsulta="ngModel" id="flagPrimeiraConsulta" name="flagPrimeiraConsulta">
                        <option value="S">Sim</option>
                        <option value="N">Não</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group col-md-6">
                      <label>Consulta Confirmada?</label>
                      <select class="form-control" [(ngModel)]="consulta.flagConfirmada" #flagConfirmada="ngModel" id="flagConfirmada" name="flagConfirmada">
                        <option value="S">Sim</option>
                        <option value="N">Não</option>
                      </select>
                    </div>
                    <!-- Date -->
                    <div class="form-group col-md-6">
                      <label>Data da Consulta</label>
                      <input type="datetime-local" class="form-control pull-right" [(ngModel)]="consulta.dataConsulta"
                      #dataConsulta="ngModel"
                      (ngModelChange)="agendaMedico.dataConsulta = $event" name="dataConsulta" id="dataConsulta">
                      <!-- /.input group -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" (click)="fecharModalAgendamento()" data-dismiss="modal" id="closeModal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="salvar" (click)="salvar()" >Salvar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!-- Modal para selecionar o paciente da consulta -->
  <div class="modal fade" id="modal-consulta-paciente">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="fecharModalConsultaPaciente" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Buscar Paciente</h4>
        </div>
        <div class="modal-body">
          <form #form="ngForm" role="form">
            <div *ngIf="mensagem && mensagem.codigoTipo === 1" class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
              {{mensagem.texto}}
            </div>
            <div class="row">
              <br>
              <div id="abaNovoHorarioAtendimento" class="tab-pane fade in active">
                <div class="col-md-12">
                  <div class="input-group col-md-12 pull-left">
                    <div class="input-group col-md-12 pull-left">
                      <input type="text" class="form-control" id="nome" name="nome" value="consulta.paciente.nome" [(ngModel)]="consulta.paciente.nome"
                      #nome="ngModel" placeholder="Informe o nome do paciente.">
                      <span class="input-group-btn">
                        <button type="button" (click)="buscarPacienteConsulta()" class="btn btn-primary btn-flat">Buscar</button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <table id="tabelaModalConsultaPaciente" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Nome da Mãe</th>
                      <th>RG</th>
                      <th>CPF</th>
                      <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let paciente of listaPacienteModal">
                      <td>{{ paciente.codigo }}</td>
                      <td>{{ paciente.nome }}</td>
                      <td>{{ paciente.nomeMae }}</td>
                      <td>{{ paciente.rg }}</td>
                      <td>{{ paciente.cpf }}</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" (click)="selecionarPacienteModalConsulta(paciente)" class="btn btn-default">
                            <i class="fa fa-check" title="Selecionar"></i>
                          </button>
                        </div>
                        <a class="btn-group">

                        </a>
                        <a class="btn-group">

                        </a>
                      </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Nome da Mãe</th>
                      <th>RG</th>
                      <th>CPF</th>
                      <th>Ações</th>
                    </tr>
                    </tfoot>
                  </table>
                  <app-paginacao [page]="paginaPaciente" (paginationEvent)=changePage($event)></app-paginacao>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!-- Modal para selecionar o médico da consulta -->
  <div class="modal fade" id="modal-consulta-medico">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="fecharModalConsultaMedico" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Buscar Médico</h4>
        </div>
        <div class="modal-body">
          <form #form="ngForm" role="form">
            <div *ngIf="mensagem && mensagem.codigoTipo === 1" class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
              {{mensagem.texto}}
            </div>
            <div class="row">
              <br>
              <div id="abaNovoHorarioAtendimento" class="tab-pane fade in active">
                <div class="col-md-12">
                  <div class="input-group col-md-12 pull-left">
                    <div class="input-group col-md-12 pull-left">
                      <input type="text" class="form-control" id="nome" name="nome" value="consulta.paciente.nome" [(ngModel)]="consulta.paciente.nome"
                      #nome="ngModel" placeholder="Informe o nome do paciente.">
                      <span class="input-group-btn">
                        <button type="button" (click)="buscarMedicoConsulta()" class="btn btn-primary btn-flat">Buscar</button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <table id="tabelaModalConsultaMedico" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Estado Civil</th>
                      <th>RG</th>
                      <th>CPF</th>
                      <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let medico of listaMedicoModal">
                      <td>{{ medico.codigo }}</td>
                      <td>{{ medico.nome }}</td>
                      <td>{{ medico.estadoCivil.nome }}</td>
                      <td>{{ medico.rg }}</td>
                      <td>{{ medico.cpf }}</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" (click)="selecionarMedicoModalConsulta(medico)" class="btn btn-default">
                            <i class="fa fa-check" title="Selecionar"></i>
                          </button>
                        </div>
                        <a class="btn-group">

                        </a>
                        <a class="btn-group">

                        </a>
                      </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Estado Civil</th>
                      <th>RG</th>
                      <th>CPF</th>
                      <th>Ações</th>
                    </tr>
                    </tfoot>
                  </table>
                  <app-paginacao [page]="paginaMedico" (paginationEvent)=changePage($event)></app-paginacao>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

</section>
<!-- /.content -->
