<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Marcelo Aurino</p>
      </div>
    </div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Menu</li>
      <li class="treeview menu-open">
        <a [routerLink]="['/painel']">
          <i class="fa fa-tachometer-alt"></i> <span>Dashboard</span>
        </a>
      </li>
      <li><a [routerLink]="['/pacientes']">
        <i class="fa fa-user-injured"></i> <span>Pacientes</span></a>
      </li>
      <li class="treeview">
        <a href=""><i class="fa fa-stethoscope"></i> <span>Consultas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span></a>
        <ul class="treeview-menu">
          <li *ngIf="PRF_ADMIN"><a [routerLink]="['/consultas/agendamentos']"><i class="fa fa-calendar-alt"></i>Agendamentos</a></li>
          <li *ngIf="PRF_MEDICO"><a [routerLink]="['/consultas/atendimento']"><i class="fa fa-heartbeat"></i> <span>Atendimento</span></a></li>
          <!--<li><a href=""><i class="fa fa-file-alt"></i>Solicitação de Exames</a></li>
          <li><a href=""><i class="fa fa-eyedropper"></i>Prescrição de Medicamentos</a></li>-->
        </ul>
      </li>
      <li class="treeview" *ngIf="PRF_ADMIN">
        <a href="">
          <i class="fa fa-gears"></i> <span>Configurações</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="treeview">
            <a href=""><i class="fa fa-file-alt"></i>Cadastros
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a [routerLink]="['/configuracoes/cadastro/especialidade']"><i class="fa fa-stethoscope"></i> Especialidade</a></li>
              <li><a [routerLink]="['/configuracoes/cadastro/exame']"><i class="fa fa-vials"></i> Exame</a></li>
              <li><a [routerLink]="['/configuracoes/cadastro/medicamento']"><i class="fa fa-capsules"></i> Medicamento</a></li>
              <li><a [routerLink]="['/configuracoes/cadastro/operadora']"><i class="fa fa-institution"></i> Operadora</a></li>
              <li><a [routerLink]="['/configuracoes/cadastro/tipo-contato']"><i class="fa fa-envelope-square"></i> Tipo de Contato</a></li>
              <li><a [routerLink]="['/configuracoes/cadastro/tipo-exame']"><i class="fa fa-vial"></i> Tipo de Exame</a></li>
              <li><a [routerLink]="['/configuracoes/cadastro/tipo-medicamento']"><i class="fa fa-pills"></i> Tipo de Medicamento</a></li>
              <li><a [routerLink]="['/configuracoes/cadastro/tipo-plano-saude']"><i class="fa fa-medkit"></i> Tipo de Plano de Saúde</a></li>
            </ul>
          </li>
          <li><a [routerLink]="['/configuracoes/medicos']"><i class="fa fa-user-md"></i>Médicos</a></li>
          <!--<li><a href=""><i class="fa fa-eyedropper"></i>Prescrição de Medicamentos</a></li>-->
        </ul>
        <ul class="treeview-menu">

          <li><a href=""><i class="fa fa-medkit"></i>Médicamentos</a></li>
          <li><a href=""><i class="fa fa-hospital-o"></i>Clínicas/Consultórios</a></li>
          <li><a href=""><i class="fa fa-plus-square"></i>Convênio</a></li>
          <li><a href=""><i class="fa fa-plus-square"></i>Planos de Saúde</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
