<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Perfil do Paciente
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/painel']"><i class="fa fa-tachometer-alt"></i> Home</a></li>
    <li><a [routerLink]="['/pacientes']"><i class="fa fa-user-injured"></i>Pacientes</a></li>
    <li class="active">Perfil</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="assets/dist/img/profile.png" alt="User profile picture">

          <h3 class="profile-username text-center">{{paciente.nome}}</h3>

          <p class="text-muted text-center">{{paciente.profissao}}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Consultas</b> <a class="pull-right">{{totalConsultas ? totalConsultas : 0}}</a>
            </li>
            <li class="list-group-item">
              <b>Exames</b> <a class="pull-right">{{totalSolicitacoesExame ? totalSolicitacoesExame : 0}}</a>
            </li>
            <li class="list-group-item">
              <b>Medicamentos</b> <a class="pull-right">{{totalSolicitacoesMedicamento ? totalSolicitacoesMedicamento : 0}}</a>
            </li>
          </ul>

          <a class="btn btn-primary btn-block" (click)="modoEdicao()"><b>{{habilitarEdicao ? 'Salvar Alteração' : 'Editar Perfil'}}</b></a>
          <a class="btn btn-default btn-block" (click)="imprimirHistoricoClinico()"><b>Imprimir Histórico Clínico</b></a>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div *ngIf="mensagem && mensagem.codigoTipo === 1" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
        {{mensagem.texto}}
      </div>
      <div *ngIf="mensagem && mensagem.codigoTipo === 0" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
        {{mensagem.texto}}
      </div>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#abaDadosPessoais">Dados Pessoais</a></li>
          <li><a data-toggle="tab" href="#abaEndereco">Endereço</a></li>
          <li><a data-toggle="tab" href="#abaContato">Contato</a></li>
          <li><a data-toggle="tab" href="#abaPlanoSaude">Plano de Saúde</a></li>
          <li><a data-toggle="tab" href="#abaInformacaoAdicional">Informação Adicional</a></li>
          <li><a data-toggle="tab" href="#historicoClinico">Histórico Clínico</a></li>
          <li><a data-toggle="tab" href="#exames">Exames</a></li>
          <li><a data-toggle="tab" href="#medicamentos">Medicamentos</a></li>
        </ul>
        <div class="tab-content">
          <div id="abaDadosPessoais" class="tab-pane fade in active">
            <!-- Inicio Exibição das informações -->
            <div class="row" *ngIf="!habilitarEdicao">
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>Nome</label><p class="text-muted">{{paciente.nome}}</p>
                  <label>Data de Nascimento</label><p class="text-muted">{{paciente.dataNascimento}}</p>
                  <label>Sexo</label><p class="text-muted">{{paciente.sexo === 'M' ? 'Masculino' : 'Feminino'}}</p>
                  <label>Nome do Pai</label><p class="text-muted">{{paciente.nomePai}}</p>
                  <label>Nome da Mãe</label><p class="text-muted">{{paciente.nomeMae}}</p>
                </div>
                <div class="form-group col-md-6">
                  <label>Estado Civil: </label><p class="text-muted">{{paciente.estadoCivil ? paciente.estadoCivil.nome : 'Não Informado'}}</p>
                  <label>Profissão: </label><p class="text-muted">{{' ' + paciente.profissao}}</p>
                  <label>RG: </label><p class="text-muted">{{paciente.rg}}</p>
                  <label>Órgão Emissor: </label><p class="text-muted">{{paciente.orgaoEmissor}}</p>
                  <label>Número Cartão SUS: </label><p class="text-muted">{{paciente.numeroCartaoSUS}}</p>
                </div>
              </div>
            </div>
            <!-- Fim Exibição das informações -->

            <!-- Inicio Edição das informações -->
            <div class="row" *ngIf="habilitarEdicao">
                <div class="col-md-12">
                  <div class="form-group col-md-6">
                    <label>Nome Completo</label>
                    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="paciente.nome"
                    #nome="ngModel" placeholder="Nome">
                  </div>
                  <!-- Date -->
                  <div class="form-group col-md-6">
                    <label>Data de Nascimento</label>
                    <input type="date" class="form-control pull-right" [(ngModel)]="paciente.dataNascimento"
                    #dataNascimento="ngModel"
                    (ngModelChange)="paciente.dataNascimento = $event" name="dataNascimento" id="dataNascimento">
                    <!-- /.input group -->
                  </div>
                </div>
                <div class="col-md-12">
                  <!-- radio -->
                  <div class="form-group col-md-6">
                    <label>Sexo</label>
                    <select class="form-control" [(ngModel)]="paciente.sexo" #sexo="ngModel" id="sexo" name="sexo">
                      <option>Selecione...</option>
                      <option value="M">Masculino</option>
                      <option value="F">Feminino</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Nome do Pai</label>
                    <input type="text" class="form-control" id="nomePai" [(ngModel)]="paciente.nomePai" #nomePai="ngModel" name="nomePai" placeholder="Nome do Pai">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group col-md-6">
                    <label>Nome da Mãe</label>
                    <input type="text" class="form-control" id="nomeMae" [(ngModel)]="paciente.nomeMae"
                    #nomeMae="ngModel" name="nomeMae" placeholder="Nome da Mãe">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Estado Civil</label>
                    <select class="form-control" [(ngModel)]="paciente.estadoCivil.codigo" #codigo="ngModel" id="estadoCivil" name="estadoCivil">
                      <option>Selecione...</option>
                      <option *ngFor="let estadoCivil of listaComboEstadoCivil" [value]="estadoCivil.codigo" >{{ estadoCivil.nome }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group col-md-6">
                    <label>Naturalidade</label>
                    <input type="text" class="form-control" id="naturalidade" [(ngModel)]="paciente.naturalidade"
                    #naturalidade="ngModel" name="naturalidade" placeholder="Naturalidade">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Nacionalidade</label>
                    <input type="text" class="form-control" id="nacionalidade" [(ngModel)]="paciente.nacionalidade"
                    #nacionalidade="ngModel" name="nacionalidade" placeholder="Nacionalidade">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group col-md-6">
                    <label>Profissão</label>
                    <input type="text" class="form-control" [(ngModel)]="paciente.profissao" #profissao="ngModel" name="profissao" id="profissao" placeholder="Profissão">
                  </div>
                  <div class="form-group col-md-6">
                    <label>CPF</label>
                    <input type="text" class="form-control" [(ngModel)]="paciente.cpf" #cpf="ngModel" id="cpf" name="cpf" placeholder="CPF">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group col-md-6">
                    <label>RG</label>
                    <input type="text" class="form-control" [(ngModel)]="paciente.rg" #rg="ngModel" id="rg" name="rg" placeholder="Identidade">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Órgão Emissor</label>
                    <input type="text" class="form-control" [(ngModel)]="paciente.orgaoEmissor" #orgaoEmissor="ngModel" name="orgaoEmissor" id="orgaoEmissor" placeholder="Órgão Emissor ">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group col-md-6">
                    <label>Número Cartão SUS</label>
                    <input type="text" class="form-control" [(ngModel)]="paciente.numeroCartaoSUS" #numeroCartaoSUS="ngModel" name="numeroCartaoSUS" id="numeroCartaoSUS" placeholder="Número do Cartão do SUS">
                  </div>
                </div>
            </div>
            <!-- Fim Edição das informações -->
          </div>
          <div id="abaEndereco" class="tab-pane fade">
            <!-- Inicio Exibição das informações -->
            <div class="row" *ngIf="!habilitarEdicao">
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>Tipo Logradouro</label><p class="text-muted">{{paciente.endereco && paciente.endereco.tipoLogradouro
                    && paciente.endereco.tipoLogradouro.nome ? paciente.endereco.tipoLogradouro.nome : 'Não Informado'}}</p>

                  <label>Número</label><p class="text-muted">{{paciente.endereco && paciente.endereco.numero ?
                    paciente.endereco.numero : 'Não Informado'}}</p>

                  <label>Bairro</label><p class="text-muted">{{paciente.endereco && paciente.endereco.bairro ?
                    paciente.endereco.bairro : 'Não Informado'}}</p>

                  <label>Estado</label><p class="text-muted">{{paciente.endereco && paciente.endereco.estado
                    && paciente.endereco.estado.nomeEstado ? paciente.endereco.estado.nomeEstado : 'Não Informado'}}</p>
                </div>
                <div class="form-group col-md-6">
                  <label>Logradouro</label><p class="text-muted">{{paciente.endereco && paciente.endereco.logradouro ?
                    paciente.endereco.logradouro : 'Não Informado'}}</p>

                  <label>Complemento</label><p class="text-muted">{{paciente.endereco && paciente.endereco.complemento ?
                    paciente.endereco.complemento : 'Não Informado'}}</p>

                  <label>Complemento</label><p class="text-muted">{{paciente.endereco && paciente.endereco.cidade ?
                    paciente.endereco.cidade : 'Não Informado'}}</p>

                  <label>Complemento</label><p class="text-muted">{{paciente.endereco && paciente.endereco.cep ?
                    paciente.endereco.cep : 'Não Informado'}}</p>
                </div>
              </div>
            </div>
            <!-- Fim Exibição das informações -->

            <!-- Inicio Edição das informações -->
            <div class="row" *ngIf="habilitarEdicao">
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>Tipo Logradouro</label>
                  <select class="form-control" [(ngModel)]="paciente.endereco.tipoLogradouro.codigo" #codigo="ngModel" name="tipoLogradouro">
                    <option>Selecione...</option>
                    <option *ngFor="let tipoLogradouro of listaComboTipoLogradouro" [value]="tipoLogradouro.codigo" >{{ tipoLogradouro.nome }}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>Logradouro</label>
                  <input type="text" class="form-control" [(ngModel)]="paciente.endereco.logradouro" #logradouro="ngModel" name="logradouro" id="logradouro" placeholder="Logradouro">
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group col-md-3">
                  <label>Número</label>
                  <input type="text" class="form-control" [(ngModel)]="paciente.endereco.numero" #numero="ngModel" name="numero" id="numero">
                </div>
                <div class="form-group col-md-9">
                  <label>Complemento</label>
                  <input type="text" class="form-control" [(ngModel)]="paciente.endereco.complemento" #complemento="ngModel" name="complemento"  id="complemento" placeholder="Complemento">
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>Bairro</label>
                  <input type="text" class="form-control" [(ngModel)]="paciente.endereco.bairro" #bairro="ngModel" name="bairro" id="bairro" placeholder="Bairro">
                </div>
                <div class="form-group col-md-6">
                  <label>Cidade</label>
                  <input type="text" class="form-control" [(ngModel)]="paciente.endereco.cidade" #cidade="ngModel" name="cidade" id="cidade" placeholder="Cidade">
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>Estado</label>
                  <select class="form-control" [(ngModel)]="paciente.endereco.estado.codigo" #codigo="ngModel" name="estado">
                    <option>Selecione...</option>
                    <option *ngFor="let estado of listaComboEstado" [value]="estado.codigo" >{{ estado.nomeEstado }}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>CEP</label>
                  <input type="text" class="form-control" [(ngModel)]="paciente.endereco.cep" #cep="ngModel" name="cep" id="cep" placeholder="Cep">
                </div>
              </div>
            </div>
            <!-- Fim Edição das informações -->
          </div>
          <div id="abaContato" class="tab-pane fade">
            <!-- Inicio Exibição das informações -->
            <div class="row" *ngIf="!habilitarEdicao">
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>Tipo Contato</label><p class="text-muted">{{paciente.contato && paciente.contato.tipoContato
                    && paciente.contato.tipoContato.nome ? paciente.contato.tipoContato.nome : 'Não Informado'}}</p>
                </div>
                <div class="form-group col-md-6">
                  <label>Contato</label><p class="text-muted">{{paciente.contato && paciente.contato.textoContato ?
                    paciente.contato.textoContato : 'Não Informado'}}</p>
                </div>
              </div>
            </div>
            <!-- Fim Exibição das informações -->

            <!-- Inicio Edição das informações -->
            <div class="row" *ngIf="habilitarEdicao">
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>Tipo Contato</label>
                  <select class="form-control" [(ngModel)]="paciente.contato.tipoContato.codigo" #codigo="ngModel" name="tipoContato">
                    <option>Selecione...</option>
                    <option *ngFor="let tipoContato of listaComboTipoContato" [value]="tipoContato.codigo" >{{ tipoContato.nome }}</option>
                  </select>
                </div>
                <!-- #ToDo Fazer uma regra para exibir o campo de acordo com o tipo do contato selecionado -->
                <div class="form-group col-md-6">
                  <label>Contato</label>
                  <input type="text" class="form-control" [(ngModel)]="paciente.contato.textoContato" #textoContato="ngModel" name="textoContato" id="textoContato" placeholder="Contato">
                </div>
              </div>
            </div>
            <!-- Fim Edição das informações -->
          </div>
          <div id="abaPlanoSaude" class="tab-pane fade">
            <!-- Inicio Exibição das informações -->
            <div class="row" *ngIf="!habilitarEdicao">
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>Plano de Saúde</label><p class="text-muted">{{paciente.planoSaude && paciente.planoSaude.operadora
                    && paciente.planoSaude.operadora.nome ? paciente.planoSaude.operadora.nome : 'Não Informado'}}</p>
                  <label>Validade do Cartão</label><p class="text-muted">{{paciente.planoSaude && paciente.planoSaude.dataValidadeCartao ?
                    paciente.planoSaude.dataValidadeCartao : 'Não Informado'}}</p>
                  <label>Nome do Titular</label><p class="text-muted">{{paciente.planoSaude && paciente.planoSaude.nomeTitular ?
                    paciente.planoSaude.nomeTitular : 'Não Informado'}}</p>
                </div>
                <div class="form-group col-md-6">
                  <label>Tipo</label><p class="text-muted">{{paciente.contato && paciente.planoSaude.tipoPlanoSaude
                    &&  paciente.planoSaude.tipoPlanoSaude.nome ? paciente.planoSaude.tipoPlanoSaude.nome : 'Não Informado'}}</p>
                    <label>Número Cartão</label><p class="text-muted">{{paciente.contato && paciente.planoSaude.numeroCartao ?
                      paciente.planoSaude.numeroCartao : 'Não Informado'}}</p>
                </div>
              </div>
            </div>
            <!-- Fim Exibição das informações -->

            <!-- Inicio Edição das informações -->
            <div class="row" *ngIf="habilitarEdicao">
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>Plano de Saúde</label>
                  <select class="form-control" [(ngModel)]="paciente.planoSaude.operadora.codigo" #codigo="ngModel" name="operadora" id="operadora">
                    <option>Selecione...</option>
                    <option *ngFor="let operadora of listaComboOperadora" [value]="operadora.codigo" >{{ operadora.nome }}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>Tipo do Plano de Saúde</label>
                  <select class="form-control" [(ngModel)]="paciente.planoSaude.tipoPlanoSaude.codigo" #codigo="ngModel" name="tipoPlanoSaude" id="tipoPlanoSaude">
                    <option selected>Selecione...</option>
                    <option *ngFor="let tipoPlanoSaude of listaComboTipoPlanoSaude" [value]="tipoPlanoSaude.codigo" >{{ tipoPlanoSaude.nome }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>Número Cartão</label>
                  <input type="text" class="form-control" [(ngModel)]="paciente.planoSaude.numeroCartao" #numeroCartao="ngModel" name="numeroCartao" id="numeroCartao" placeholder="Número Cartão">
                </div>
                <div class="form-group col-md-6">
                  <label>Validade do Cartão</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="date" class="form-control pull-right" [(ngModel)]="paciente.planoSaude.dataValidadeCartao" #dataValidadeCartao="ngModel" name="dataValidadeCartao">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-6">
                  <label>Nome do Titular</label>
                  <input type="text" class="form-control" [(ngModel)]="paciente.planoSaude.nomeTitular" #nomeTitular="ngModel" name="nomeTitular" id="nomeTitular" placeholder="Nome do Titular">
                </div>
              </div>
            </div>
            <!-- Fim Edição das informações -->
          </div>
          <div id="abaInformacaoAdicional" class="tab-pane fade">
            <!-- Inicio Exibição das informações -->
            <div class="row" *ngIf="!habilitarEdicao">
              <div class="col-md-12">
                <div class="form-group col-md-12">
                  <p class="text-muted">{{paciente.informacaoAdicional ? paciente.informacaoAdicional : 'Não Informado'}}</p>
                </div>
              </div>
            </div>
            <!-- Fim Exibição das informações -->

            <!-- Inicio Edição das informações -->
            <div class="row" *ngIf="habilitarEdicao">
              <div class="col-md-12">
                <div class="box-body pad">
                  <textarea id="informacaoAdicional" [(ngModel)]="paciente.informacaoAdicional" #informacaoAdicional="ngModel" name="informacaoAdicional" rows="10" cols="138">
                  </textarea>
                </div>
              </div>
            </div>
            <!-- Fim Edição das informações -->
          </div>
          <div id="historicoClinico" class="tab-pane fade">
            <!-- The timeline -->
            <ul *ngIf="possuiHistoricoClinico">
              <ul class="timeline timeline-inverse">
                <span class="timeline timeline-inverse" *ngFor="let timeLine of listaTimeLineHistoricoClinico">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          {{timeLine.data | date:'dd/MM/yyyy'}}
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li *ngFor="let consulta of timeLine.objetos">
                    <i class="fa fa-file-alt bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{consulta.dataConsulta | date:'shortTime'}}</span>

                      <!--<h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>-->

                      <div class="timeline-body">
                        {{consulta.historicoClinico ? consulta.historicoClinico : 'Consulta agendada mas não foi realizada.'}}
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs" (click)="verConsulta(consulta)" data-toggle="modal"
                        data-target="#modal-consulta">Visualizar Consulta</a>
                        <!--<a class="btn btn-danger btn-xs">Delete</a>-->
                      </div>
                    </div>
                  </li>
                </span>
                <!-- END timeline item -->
                <li *ngIf="possuiHistoricoClinico">
                  <i class="fa fa-clock-o bg-gray"></i>
                </li>
              </ul>
            </ul>
          </div>
          <div id="exames" class="tab-pane fade">
            <!-- The timeline -->
            <ul *ngIf="possuiSolicitacaoExame">
              <ul class="timeline timeline-inverse">
                <span class="timeline timeline-inverse" *ngFor="let timeLine of listaTimeLineSolicitacaoExame">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          {{timeLine.data | date:'dd/MM/yyyy'}}
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li *ngFor="let solicitacaoExame of timeLine.objetos">
                    <i class="fa fa-stethoscope bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{solicitacaoExame.dataSolicitacaoExame | date:'shortTime'}}</span>

                      <!--<h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>-->

                      <div class="timeline-body">
                        {{solicitacaoExame.exame.nome}}
                      </div>
                      <!--<div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                      </div>-->
                    </div>
                  </li>
                  <!-- END timeline item -->
                </span>
                <li *ngIf="possuiSolicitacaoExame">
                  <i class="fa fa-clock-o bg-gray"></i>
                </li>
              </ul>
            </ul>
          </div>
          <div id="medicamentos" class="tab-pane fade">
            <!-- The timeline -->
            <ul *ngIf="possuiSolicitacaoMedicamento">
              <ul class="timeline timeline-inverse">
                <span class="timeline timeline-inverse" *ngFor="let timeLine of listaTimeLineSolicitacaoMedicamento">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          {{timeLine.data | date:'dd/MM/yyyy'}}
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li *ngFor="let solicitacaoMedicamento of timeLine.objetos">
                    <i class="fa fa-pills bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{solicitacaoMedicamento.dataSolicitacaoMedicamento| date:'shortTime'}}</span>

                      <!--<h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>-->

                      <div class="timeline-body">
                        {{solicitacaoMedicamento.medicamento.nome}}
                      </div>
                      <!--<div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                      </div>-->
                    </div>
                  </li>
                  <!-- END timeline item -->
                </span>
                <li *ngIf="possuiSolicitacaoMedicamento">
                  <i class="fa fa-clock-o bg-gray"></i>
                </li>
              </ul>
            </ul>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="modal fade" id="modal-consulta">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="fecharModal" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ 'Visualizar Consulta' }}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#abaHistoriaClinica">História Clinica</a></li>
              <li><a data-toggle="tab" href="#abaSolicitacaoExame">Exames Solicitados</a></li>
              <li><a data-toggle="tab" href="#abaSolicitacaoMedicamento">Medicamentos Prescritos</a></li>
            </ul>
            <div class="tab-content">
              <div id="abaHistoriaClinica" class="tab-pane fade in active">
                <div class="col-md-12">
                  <div class="box box-solid">
                    <!-- /.box-header -->
                    <div class="box-body">
                      <textarea id="historicoClinico" [(ngModel)]="modalConsulta.historicoClinico"
                      #historicoClinico="ngModel" name="historicoClinico" rows="20" style="width: 100%;" disabled>
                      </textarea>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
              </div>
              <div id="abaSolicitacaoExame" class="tab-pane fade in">
                <div class="col-md-12">
                  <div class="box box-solid">
                    <!-- /.box-header -->
                    <div class="box-body">
                      <table class="table table-bordered">
                        <tr>
                          <th>Nome</th>
                          <th>Tipo</th>
                          <th>Descrição</th>
                        </tr>
                        <tr *ngFor="let solicitacaoExame of modalConsulta.listaSolicitacaoExame">
                          <td>{{solicitacaoExame.exame.nome}}</td>
                          <td>{{solicitacaoExame.exame.tipoExame.nome}}</td>
                          <td>{{solicitacaoExame.exame.descricao}}</td>
                        </tr>
                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
              </div>
              <div id="abaSolicitacaoMedicamento" class="tab-pane fade in">
                <div class="col-md-12">
                  <div class="box box-solid">
                    <!-- /.box-header -->
                    <div class="box-body">
                      <table class="table table-bordered">
                        <tr>
                          <th>Nome</th>
                          <th>Tipo</th>
                          <th>Uso</th>
                          <th>Descrição</th>
                        </tr>
                        <tr *ngFor="let solicitacaoMedicamento of modalConsulta.listaSolicitacaoMedicamento">
                          <td>{{solicitacaoMedicamento.medicamento.nome}}</td>
                          <td>{{solicitacaoMedicamento.medicamento.tipoMedicamento.nome}}</td>
                          <td>{{solicitacaoMedicamento.medicamento.usoMedicamento.nome}}</td>
                          <td>{{solicitacaoMedicamento.medicamento.descricao}}</td>
                        </tr>
                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="closeModal">Fechar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

</section>
<!-- /.content -->
