<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Atendimento Consulta
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/painel']"><i class="fa fa-tachometer-alt"></i> Home</a></li>
    <li><a [routerLink]="['/consultas']"><i class="fa fa-heartbeat"></i>Atendimento</a></li>
    <li class="active"><a [routerLink]="['/consultas']"><i class="fa fa-stethoscope"></i>Consultas</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="assets/dist/img/profile.png" alt="User profile picture">

          <h3 class="profile-username text-center">{{consulta.paciente.nome}}</h3>

          <p class="text-muted text-center">{{consulta.paciente.profissao}}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Consultas</b> <a class="pull-right">{{totalConsultas ? totalConsultas : 0}}</a>
            </li>
            <li class="list-group-item">
              <b>Exames</b> <a class="pull-right">{{totalSolicitacoesExame ? totalSolicitacoesExame : 0}}</a>
            </li>
            <li class="list-group-item">
              <b>Medicamentos</b> <a class="pull-right">{{totalSolicitacoesMedicamento ? totalSolicitacoesMedicamento : 0}}</a>
            </li>
          </ul>

          <a class="btn btn-primary btn-block" (click)="finalizarConsulta()"><b>Finalizar Consulta</b></a>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div *ngIf="mensagem && mensagem.codigoTipo === 1" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
        {{mensagem.texto}}
      </div>
      <div *ngIf="mensagem && mensagem.codigoTipo === 0" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
        {{mensagem.texto}}
      </div>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a (click)="salvar()" data-toggle="tab" href="#abaProntuarioMedico">Prontuário Médico</a></li>
          <li><a (click)="salvar()" data-toggle="tab" href="#abaSolicitacaoExame">Solicitação de Exames</a></li>
          <li><a (click)="salvar()" data-toggle="tab" href="#abaSolicitacaoMedicamento">Prescrever Medicamentos</a></li>
        </ul>
        <div class="tab-content">
          <div id="abaProntuarioMedico" class="tab-pane fade in active">
            <!-- Inicio Edição das informações -->
            <div class="row">
              <div class="col-md-12">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <i class="fa fa-file-alt"></i>
                    <h3 class="box-title">História Clinica</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <textarea id="historicoClinico" [(ngModel)]="consulta.historicoClinico" (blur)="salvar('blur')"
                    #historicoClinico="ngModel" name="historicoClinico" rows="20" style="width: 100%;">
                    </textarea>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
            </div>
            <!-- Fim Edição das informações -->
            <ul *ngIf="possuiHistoricoClinico">
              <ul class="timeline timeline-inverse">
                <span class="timeline timeline-inverse" *ngFor="let timeLine of listaTimeLineHistoricoClinico">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          {{timeLine.data | date:'dd/MM/yyyy'}}
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li *ngFor="let consulta of timeLine.objetos">
                    <i class="fa fa-file-alt bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{consulta.dataConsulta | date:'shortTime'}}</span>

                      <!--<h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>-->

                      <div class="timeline-body">
                        {{consulta.historicoClinico ? consulta.historicoClinico : 'Consulta agendada mas não foi realizada.'}}
                      </div>
                      <!--<div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                      </div>-->
                    </div>
                  </li>
                </span>
                <!-- END timeline item -->
                <li *ngIf="possuiHistoricoClinico">
                  <i class="fa fa-clock-o bg-gray"></i>
                </li>
              </ul>
            </ul>
          </div>
          <div id="abaSolicitacaoExame" class="tab-pane fade">
            <div class="row">
              <div class="col-md-8">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <i class="fa fa-file-alt"></i>

                    <h3 class="box-title">Solicitações de Exame</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <table class="table table-bordered">
                      <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                      </tr>
                      <tr *ngFor="let solicitacaoExame of consulta.listaSolicitacaoExame">
                        <td>{{solicitacaoExame.exame.nome}}</td>
                        <td>{{solicitacaoExame.exame.tipoExame.nome}}</td>
                        <td>{{solicitacaoExame.exame.descricao}}</td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default" disabled>
                              <i class="fa fa-print" title="Imprimir"></i>
                            </button>
                            <button type="button" (click)="removerSolicitacaoExame(solicitacaoExame)" class="btn btn-default">
                              <i class="fa fa-times-circle" title="Excluir"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
              <div class="col-md-4">
                <span class="input-group-btn">
                  <button type="button" (click)="buscarExame()" class="btn btn-primary btn-flat" data-toggle="modal"
                  data-target="#modal-solicitacao-exame">Adicionar Solicitação de Exame</button>
                  <button type="button" *ngIf="consulta.listaSolicitacaoExame.length > 0"
                  class="btn btn-default btn-flat">Imprimir Todos</button>
                </span>
              </div>
            </div>
            <ul *ngIf="possuiSolicitacaoExame">
              <ul class="timeline timeline-inverse">
                <span class="timeline timeline-inverse" *ngFor="let timeLine of listaTimeLineSolicitacaoExame">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          {{timeLine.data | date:'dd/MM/yyyy'}}
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li *ngFor="let solicitacaoExame of timeLine.objetos">
                    <i class="fa fa-stethoscope bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{solicitacaoExame.dataSolicitacaoExame | date:'shortTime'}}</span>

                      <!--<h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>-->

                      <div class="timeline-body">
                        {{solicitacaoExame.exame.nome}}
                      </div>
                      <!--<div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                      </div>-->
                    </div>
                  </li>
                  <!-- END timeline item -->
                </span>
                <li *ngIf="possuiSolicitacaoExame">
                  <i class="fa fa-clock-o bg-gray"></i>
                </li>
              </ul>
            </ul>
          </div>
          <div id="abaSolicitacaoMedicamento" class="tab-pane fade">
            <div class="row">
              <div class="col-md-8">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <i class="fa fa-pills"></i>

                    <h3 class="box-title">Medicamentos Prescritos</h3>

                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <table class="table table-bordered">
                      <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Uso</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                      </tr>
                      <tr *ngFor="let solicitacaoMedicamento of consulta.listaSolicitacaoMedicamento">
                        <td>{{solicitacaoMedicamento.medicamento.nome}}</td>
                        <td>{{solicitacaoMedicamento.medicamento.tipoMedicamento.nome}}</td>
                        <td>{{solicitacaoMedicamento.medicamento.usoMedicamento.nome}}</td>
                        <td>{{solicitacaoMedicamento.medicamento.descricao}}</td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default" disabled>
                              <i class="fa fa-print" title="Imprimir"></i>
                            </button>
                            <button type="button" (click)="removerSolicitacaoMedicamento(solicitacaoMedicamento)" class="btn btn-default">
                              <i class="fa fa-times-circle" title="Excluir"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
              <div class="col-md-4">
                <span class="input-group-btn">
                  <button type="button" (click)="buscarMedicamento()" class="btn btn-primary btn-flat" data-toggle="modal"
                  data-target="#modal-solicitacao-medicamento">Prescrever Medicamento</button>
                  <button type="button" (click)="imprimirTodasSolicitacoesMedicamento()" *ngIf="consulta.listaSolicitacaoMedicamento.length > 0"
                  class="btn btn-default btn-flat">Imprimir Todos</button>
                </span>
              </div>
            </div>
            <ul *ngIf="possuiSolicitacaoMedicamento">
              <ul class="timeline timeline-inverse">
                <span class="timeline timeline-inverse" *ngFor="let timeLine of listaTimeLineSolicitacaoMedicamento">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          {{timeLine.data | date:'dd/MM/yyyy'}}
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li *ngFor="let solicitacaoMedicamento of timeLine.objetos">
                    <i class="fa fa-pills bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{solicitacaoMedicamento.dataSolicitacaoMedicamento| date:'shortTime'}}</span>

                      <!--<h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>-->

                      <div class="timeline-body">
                        {{solicitacaoMedicamento.medicamento.nome}}
                      </div>
                      <!--<div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                      </div>-->
                    </div>
                  </li>
                  <!-- END timeline item -->
                </span>
                <li *ngIf="possuiSolicitacaoMedicamento">
                  <i class="fa fa-clock-o bg-gray"></i>
                </li>
              </ul>
            </ul>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- Modal para selecionar o exame -->
  <div class="modal fade" id="modal-solicitacao-exame">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="fecharModalSolicitacaoExame" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Buscar Exame</h4>
        </div>
        <div class="modal-body">
          <form #form="ngForm" role="form">
            <div *ngIf="mensagem && mensagem.codigoTipo === 1" class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
              {{mensagem.texto}}
            </div>
            <div class="row">
              <br>
              <div class="tab-pane fade in active">
                <div class="col-md-12">
                  <div class="input-group col-md-12 pull-left">
                    <div class="input-group col-md-12 pull-left">
                      <input type="text" class="form-control" id="nome" name="nome" value="modalBuscarExame.nome" [(ngModel)]="modalBuscarExame.nome"
                      #nome="ngModel" placeholder="Informe o nome do Exame.">
                      <span class="input-group-btn">
                        <button type="button" (click)="buscarExame()" class="btn btn-primary btn-flat">Buscar</button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <table id="tabelaModalSolicitacaoExame" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Tipo</th>
                      <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let exame of listaModalExame">
                      <td>{{ exame.codigo }}</td>
                      <td>{{ exame.nome }}</td>
                      <td>{{ exame.tipoExame.nome }}</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" (click)="selecionarExame(exame)" class="btn btn-default">
                            <i class="fa fa-check" title="Selecionar"></i>
                          </button>
                        </div>
                        <a class="btn-group">

                        </a>
                        <a class="btn-group">

                        </a>
                      </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Tipo</th>
                      <th>Ações</th>
                    </tr>
                    </tfoot>
                  </table>
                  <app-paginacao [page]="paginaModalExame" (paginationEvent)=changePage($event)></app-paginacao>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="closeModal">Fechar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!-- Modal para selecionar o medicamento -->
  <div class="modal fade" id="modal-solicitacao-medicamento">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="fecharModalSolicitacaoMedicamento" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Buscar Medicamento</h4>
        </div>
        <div class="modal-body">
          <form #form="ngForm" role="form">
            <div *ngIf="mensagem && mensagem.codigoTipo === 1" class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-check"></i> {{mensagem.titulo}}</h4>
              {{mensagem.texto}}
            </div>
            <div class="row">
              <br>
              <div class="tab-pane fade in active">
                <div class="col-md-12">
                  <div class="input-group col-md-12 pull-left">
                    <div class="input-group col-md-12 pull-left">
                      <input type="text" class="form-control" id="nome" name="nome" value="modalBuscarMedicamento.nome" [(ngModel)]="modalBuscarMedicamento.nome"
                      #nome="ngModel" placeholder="Informe o nome do Medicamento.">
                      <span class="input-group-btn">
                        <button type="button" (click)="buscarMedicamento()" class="btn btn-primary btn-flat">Buscar</button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <table id="tabelaModalSolicitacaoMedicamento" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Tipo</th>
                      <th>Uso</th>
                      <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let medicamento of listaModalMedicamento">
                      <td>{{ medicamento.codigo }}</td>
                      <td>{{ medicamento.nome }}</td>
                      <td>{{ medicamento.tipoMedicamento.nome }}</td>
                      <td>{{ medicamento.usoMedicamento.nome }}</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" (click)="selecionarMedicamento(medicamento)" class="btn btn-default">
                            <i class="fa fa-check" title="Selecionar"></i>
                          </button>
                        </div>
                        <a class="btn-group">

                        </a>
                        <a class="btn-group">

                        </a>
                      </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Tipo</th>
                      <th>Uso</th>
                      <th>Ações</th>
                    </tr>
                    </tfoot>
                  </table>
                  <app-paginacao [page]="paginaModalMedicamento" (paginationEvent)=changePage($event)></app-paginacao>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="closeModal">Fechar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

</section>
<!-- /.content -->
